/* add your CSS here */
body {
    border: 1px solid lightgrey;
    box-shadow: 5px 5px 2px lightgrey;
    margin: 5x;
    padding: 15px;
    width: 300px;

}
.descriptions {
    border: 1px solid lightgrey;
    padding: 15px;
    padding-top: 2px;
    margin-top: 12px;

}
.fact { font-style: italic; }
li span {
    font-weight: bold;
}
li {
    list-style-type: none;
}